.navbar {
  position:fixed ;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #2D5A27;
  border-radius: 10px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  color: var(--branco);
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: var(--branco);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--azul-destaque);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: var(--branco);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links {
    position: fixed;
    left: -100%;
    top: 60px; /* Adjusted to match navbar height */
    gap: 0;
    flex-direction: column;
    background-color: #2D5A27;;
    width: 100%;
    height: calc(100vh - 60px); /* Full viewport height minus navbar */
    text-align: center;
    transition: 0.3s ease-in-out;
    padding: 2rem 0;
    z-index: 999;
  }

  .nav-links.active {
    left: 0;
    display: flex;
  }

  .nav-links a {
    margin: 1rem 0;
    font-size: 1.2rem;
    display: block;
    padding: 1rem;
  }
}
